[user]

    email = ralph.rice@gmail.com
    name = Ralph Allan Rice
	username = rrice
	
[pull]
    rebase = true

[push]
	default = simple

[web]
	browser = google-chrome



[alias]
    co = checkout
    ci = commit
    st = status
    br = branch

    hist10 = log -n 10 --pretty=format:\"%C(red)%h%Creset %C(yellow)%ad%Creset | %C(dim cyan)%an%Creset | %s%C(bold green)%d%Creset\" --graph --date=short
    hist = log --pretty=format:\"%C(red)%h%Creset %C(yellow)%ad%Creset | %C(dim cyan)%an%Creset | %s%C(bold green)%d%Creset\" --graph --date=short

[color]
    branch = auto
    diff = auto
    status = auto
  
[color "diff"]
      new = green bold

[color "status"]
    update = green bold

[color "branch"]
    current = green bold


